.diffButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
   /* background: rgb(204, 211, 234); */
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.diffButtonStyle {
    background: none;
    border: none;
    padding: 15px;
    cursor: pointer;
    color: #747c97;
    font-size: x-large;
}
.diffButtonStyle:hover{
    background: rgb(221, 229, 231);
    border-radius: 20px;
}

.diffButtonStyle:focus{
    color:rgb(105, 149, 254);
}

.clicked {
    color: rgb(105, 149, 254);
}