.grid {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-bottom: 20px;
}

.grid-row {
    display: flex;
}

.grid-cell {
    width: 60px;
    height: 60px;
    border: 0.5px solid #000;
}

.grid-cell.clicked {
    background-color: #d8f9ce;
}
.grid-cell.green {
    background-color: #a6e6a6;
}

.grid-row:nth-child(3n+1) .grid-cell {
    border-top: 3.5px solid #000;
}

.grid-cell:nth-child(3n+1) {
    border-left: 3.5px solid #000;
}
.grid-row:last-child .grid-cell {
    border-bottom: 3.5px solid #000;
}

.grid-cell:last-child {
    border-right: 3.5px solid #000;
}

.inputtedNumber{
    color: blue;
    font-size: xx-large;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}